<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  
  <!-- Servlets -->
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Wfapp2011assignment.html</welcome-file>
  </welcome-file-list>
  <servlet>
  	<servlet-name>AssignmentDataExchangeService</servlet-name>
  	<servlet-class>de.uni_potsdam.hpi.wfapp2011.assignment.server.AssignmentDataExchangeServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AssignmentDataExchangeService</servlet-name>
  	<url-pattern>/wfapp2011assignment/AssignmentDataExchangeService</url-pattern>
  </servlet-mapping>
    <servlet>
            <servlet-name>gwtTableToExcelServlet</servlet-name>
            <servlet-class>com.googlecode.gwtTableToExcel.server.TableToExcelServlet</servlet-class>
            <init-param>
               <param-name>encoding</param-name>
               <param-value>UTF-8</param-value>
 			</init-param>
    </servlet>

    <servlet-mapping>
            <servlet-name>gwtTableToExcelServlet</servlet-name>
            <url-pattern>/wfapp2011assignment/excel</url-pattern>
    </servlet-mapping>

</web-app>
