<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>ConfigInterfaceDataExchange</servlet-name>
		<servlet-class>de.uni_potsdam.hpi.wfapp2011.server.ConfigInterfaceDataExchangeImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ConfigInterfaceDataExchange</servlet-name>
		<url-pattern>/de.uni_potsdam.hpi.wfapp2011.ConfigurationInterface/ConfigInterfaceDataExchange</url-pattern>
	</servlet-mapping>
	<!-- TODO: Add <servlet> tags for each servlet here. -->
	<!-- TODO: Add <servlet-mapping> tags for each <servlet> here. -->
	<!-- TODO: Optionally add a <welcome-file-list> tag to display a welcome file. -->
</web-app>
